<section class="block container-limit-width">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
      praesentium pariatur! Itaque eaque, obcaecati debitis nostrum dolorum
      mollitia labore iusto!
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container-limit-width">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem,
      praesentium pariatur! Itaque eaque, obcaecati debitis nostrum dolorum
      mollitia labore iusto!
    </p>
  </div>
</section>
