<section class="block block--dark block--skewed-left hero">
  <!-- When listing class, start from the more generic ones and finish with the specialized ones which override the styles -->
  <div class="container-limit-width grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Cloud Hosting for Pros</h1>
      <p class="hero__tagline">
        Deploy your websites in less than 60 secondes.
      </p>
      <a href="" class="btn btn--accent btn--stretched">Get Started</a>
    </header>
    <picture>
      <source
        srcset="images/banner.webp 1x, images/banner@2x.webp"
        type="image/webp"
      />
      <source
        srcset="images/banner.png 1x, images/banner@2x.png"
        type="image/png"
      />
      <img class="hero__image" src="./images/banner.png" alt="" />
      <!-- No need to set the alt attribute because this image is purely for decoration -->
    </picture>
  </div>
</section>
