<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt minus ut ea et
    animi ducimus unde excepturi optio veritatis eius!
  </p>
  <!-- A footer peut etre partout à la fin d'une section, d'un block. On est pas obliger de l'avoir qu'à la fin d'une page -->
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Alexis SARR</h3>
        <p class="quote__organization">La Famille SARR</p>
      </div>
    </div>
  </footer>
</blockquote>
